.container {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.content {
    width: 50%;
    background-color: #1C1E2F;
    border-radius: 1.5rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 2rem;
    color: #fff;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
}

.input {
    height: 60px;
    background-color: #1B1C26;
    font-family: "Outfit", sans-serif;
    outline: none;
    border: none;
    font-size: 1rem;
    padding-left: 1rem;
    border-radius: 1rem;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.submit {
    width: 8rem;
	height: 3.125rem;
    font-size: 1.25rem;
    color: #fff;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    background-color: #354AA1;
    border-radius: 0.75rem;
    border: none;
    cursor: pointer;
}

.cancel {
    width: 8rem;
    height: 3.125rem;
    font-size: 1.25rem;
    color: #fff;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    background-color: #626262;
    border-radius: 0.75rem;
    border: none;
    cursor: pointer;
    margin-right: 1rem;
}

@media only screen and (max-width: 600px) {
    .content {
        width: 90%;
    }
}