.container {
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.main-content {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: absolute;
	background-color: rgba(30, 30, 30, 0.9);
}

.video {
	height: 100%;
	width: 100%;
	object-fit: cover;
	z-index: -1;
}

.logo-image-container {
	position: relative;
	height: 60px;
	width: 60px;
}

.title {
	font-size: 2.5rem;
	color: #354AA1;
	margin-left: 1.5rem;
	font-family: "Outfit", sans-serif;
	font-weight: 400;
}

.description {
	font-size: 1.25rem;
	color: #fff;
	font-family: "Outfit", sans-serif;
	font-weight: 400;
	margin-top: 2rem;
	width: 50%;
	text-align: center;	
}

.get-started-button {
	width: 13.75rem;
	height: 3.125rem;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #354AA1;
	border-radius: 0.75rem;
	border: none;
	cursor: pointer;
	margin-top: 2rem;
}


.button-text {
	font-size: 1.25rem;
	color: #fff;
	font-family: "Outfit", sans-serif;
	font-weight: 400;
	margin-right: 0.5rem;
}

.arrow-icon-container {
	position: relative;
	height: 35px;
	width: 35px;
}