.container {
    min-height: 90vh;
    background-color: rgb(18, 19, 30);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 4rem;
}

.embed-container {
    width: 60vw;
    height: 60vh;
}

.guess-name {
    font-size: 1.5rem;
    color: #fff;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    margin-bottom: 1rem;
    margin-top: 2rem;
    padding: 0 0.5rem;
    width: 60vw;
}

.ranks-container {
    display: flex;
    margin-top: 1rem;
}

.rank {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0.5rem;
    background-color: #1C1E2F;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    cursor: pointer;
}
.rank:hover {
    border: 1px solid #354AA1 !important;
}

.rank-image-container {
    position: relative;
}

.lock-in-button {
    width: 60vw;

}

.submit-button {
	width: 13.75rem;
	height: 3.125rem;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #354AA1;
	border-radius: 0.75rem;
	border: none;
	cursor: pointer;
	margin-top: 2rem;
    width: 60vw;

    transition: opacity 0.5s ease-in-out;
    opacity: 1;
}

.submit-button[data-grayout="true"] {
    cursor: not-allowed;
    opacity: 0.5;
}

.button-text {
	font-size: 1.25rem;
	color: #fff;
	font-family: "Outfit", sans-serif;
	font-weight: 400;
	margin-right: 0.5rem;
}

.arrow-icon-container {
	position: relative;
	height: 35px;
	width: 35px;
}

.title {
    font-size: 2.5rem;
    color: #fff;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    margin-top: 5rem;
}

.suggestion {
    font-size: 1.5rem;
    color: #626262;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    margin-top: 1rem;
}

@media screen and (max-width: 600px) {
    .embed-container {
        width: 90vw;
        height: 40vh;
    }
    .guess-name {
        width: 90vw;
    }
    .submit-button {
        width: 90vw;
    }
    .title {
        font-size: 1.5rem;
    }
    .suggestion {
        font-size: 1rem;
    }
    .ranks-container {
        display: grid;
        width: 90vw;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        margin-top: 1rem;
    }
    .rank {
        margin: 0.5rem 0 0 0;
    }
}
