.container {
    min-height: 90vh;
    background-color: rgb(18, 19, 30);
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.title {
    font-size: 2.5rem;
    color: #fff;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.blue {
    color: #354AA1;
}

.form-container {
    padding: 2rem;
    min-height: 30vh;
    width: 75%;
    border-radius: 1.5rem;
    background-color: #1C1E2F;
    display: flex;
    flex-direction: column;
}

.clip-input {
    height: 60px;
    background-color: #1B1C26;
    font-family: "Outfit", sans-serif;
    outline: none;
    border: none;
    font-size: 1rem;
    padding-left: 1rem;
    border-radius: 1rem;
    width: 100%;
}

.submit-button {
	height: 3.125rem;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #354AA1;
	border-radius: 0.75rem;
	border: none;
	cursor: pointer;
	margin-top: 1rem;
}

.button-text {
	font-size: 1.25rem;
	color: #fff;
	font-family: "Outfit", sans-serif;
	font-weight: 400;
	margin-right: 0.5rem;
}

.arrow-icon-container {
	position: relative;
	height: 35px;
	width: 35px;
}

.error {
    color: #ff0000;
    font-size: 1rem;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    margin-top: 0.5rem;
    height: 1rem;
}

.name-change-button {
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #354AA1;
    border-radius: 0.75rem;
    border: none;
    cursor: pointer;
    width: 12rem;
    margin-left: 1.1rem;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    color: white;
}

.label {
    font-size: 1rem;
    color: #626262;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    margin-top: 1.25rem;
    margin-bottom: 0.5rem;
}